@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100&display=swap');
:root{
    --primary: #22d89b;
    --business: #5372ad;
    --personal: var(--primary);
    --family: #e5afd7;
    --light: #eeeeee;
    --gray: #3d3c3c;
    --dark: #00005f;
    --alert: #da5224;

    --shadow: 0 1px 3px #0000004c;

    --business-glow: 0px 0px 4px #142d5bbf;
    --personal-glow: 0px 0px 4px #116c4dbf;
    --family-glow: 0px 0px 4px #cf69b4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

input:not([type="radio"]):not([type="checkbox"]),button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background-color: var(--light);
    color: var(--dark);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section{
    margin: 2rem 0;
}
h2{ 
    text-align: center;
    font-size: 4rem;
}
#name{
    /* border: 1px solid red; */
    padding-left: 1rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--gray);
    background-color: #ffffffcc;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}
h3{
    margin: 5rem 0;
    font-size: 4rem;
    text-align: center;
}
h4{
    text-align: center;
    margin: 3rem 0;
    font-size: 2rem;
}
#content{
    width: 72.5%;
    justify-content: center;
    padding-left: 1rem;
    height: 4rem;
    color: var(--gray);
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: var(--shadow);
    /* border: 1px solid red; */
    background-color: #ffffffcc;
    border-radius: 0.5rem;
}
.options{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.options div{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--gray);
    font-weight: bolder;
}

#submit-todo{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: #28288edd;
    color: #ffffff;
    box-shadow: var(--shadow);
}
#submit-todo:hover{
    color: #28288edd;
    background-color: #ffffffcc;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.create-todo .options label{
    background-color: #ffffffcc;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],input[type="checkbox"]{
    display: none;
}
.bubble{
    display: flex;
    width: 2rem;
    height: 2rem;
    margin: auto;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
    cursor: pointer;
}

.bubble.personal{
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.family{
    border-color: var(--family);
    box-shadow: var(--family-glow);
}

.bubble::after{
    content: "";
    display: block;
    opacity:0;
    width: 0rem;
    height: 0rem;
    margin: auto;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after{
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.family::after{
    background-color: var(--family);
    box-shadow: var(--family-glow);
}

input:checked ~ .bubble::after{
    width: 1rem;
    height: 1rem;
    opacity: 1;
}

.todo-list .list{
    margin: 1rem 0;

}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}
.todo-list h1{
    /* border: 1px solid red; */
    font-size: 2rem;
    margin: 3rem 0;
}
.todo-item label{
    display: block;
    margin-right: 1rem;
}

.todo-item .todo-content{
    flex: 1 1 0%;
    text-align: left;
}
.todo-content input{
    font-size: 1.5rem;
    color: var(--dark);
    width: 100%;
}
.todo-item .actions button{
    font-size: 1.5rem;
    color: var(--light);
    font-weight: 600;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}
button:hover{
    cursor: pointer;
    opacity: 0.75;
    transition: 0.2s ease-in-out;
}
.edit{
    background-color: var(--dark);
}
.todo-item.done .todo-content input{
    text-decoration: underline;
    color: var(--gray);
}
.delete{
    background-color: var(--alert);
}

@media(max-width:998px){
    *{
        font-size: 55%;
    }
}
@media(max-width:768px){
    *{
        font-size: 45%;
    }
}